* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba; /* Antiquewhite tone */
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-width: 320px;
    width: 40%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

form input, form select, form button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

form input {
    border: 1px solid lightgray;
    padding: 0.8rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #555;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    padding: 0.2rem;
}

.select-container img {
    max-width: 2rem;
    margin-right: 0.5rem;
}

.select-container select {
    font-size: 1rem;
    cursor: pointer;
    background: transparent;
}

.msg {
    margin: 2rem 0 1rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

button {
    background-color: #af4d98;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem;
    transition: background 0.3s;
}

button:hover {
    background-color: #8f3d7a;
}

footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}