p{
    color: rgb(255, 0, 187);
}

body{
    background-color: rgb(112, 189, 222);
}

#rrr1{
    font-size: 20px;
}
#rrr3{
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}